<div class="container" style="min-height: 600px; height: auto;">
	<div class="container" style="min-height: 600px; height: auto;">
		<h2>Signup Page</h2>
		<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
		            <div class="panel panel-info" >
		                    <div class="panel-heading">
		                        <div class="panel-title">Register</div>
		                    </div>     

		                    <div style="padding-top:30px" class="panel-body" >

		                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
		                            
<form id="loginform" class="form-horizontal" role="form" action="/signup" method="post">
         


	<div style="margin-bottom: 25px" class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="login-username" type="text" class="form-control" name="full_name" value="" placeholder="Full Name">
    </div>

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">                                        
    </div>
        
    <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
            </div>
    <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="login-password" type="password" class="form-control" name="re_password" placeholder="re-password">
    </div>
    <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <textarea class="form-control" name="address" placeholder="Address"></textarea>
    </div>
    <div style="margin-bottom: 25px" class="input-group">
        Male <input type="radio" name="gender" value="male" />
        Female <input type="radio" name="gender" value="female" />
    </div>
    <div style="margin-bottom: 25px" class="input-group">
        <select class="form-control" name="city">
        	<option>Select</option>
        	<option>Indore</option>
        	<option>Mumbai</option>
        	<option>Pune</option>
        	<option>Bhopal</option>
        	<option>Select</option>
        </select>
    </div>
        
    <div class="input-group">
              
            </div>


        <div style="margin-top:10px" class="form-group">
            <!-- Button -->

            <div class="col-sm-12 controls">
              <input type="submit" id="btn-login" class="btn btn-success" value="Signup"/>

            </div>
        </div>


       
    </form>     



		                        </div>                     
		                    </div>  
		        </div>
	</div>
</div>