<div class="container" style="min-height: 600px; height: auto;">
	<h2>Home Page</h2>
	<a href="/auth/facebook">Login With Facebook</a>

	<!-- <img src="https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=2281593228534558&height=50&width=50&ext=1532766209&hash=AeQ8XkgvHhw7yCIj" /> -->
</div>